<div class="card-body container mt-3">
  <div class="">
    <div class="row">
      <div class=" col-4  mb-2">
        <input type="text" class="form-control" [(ngModel)]="element" placeholder="Pesquisar">
      </div>

      <div>
        <button class="btn btn-info" (click)="filtrar(element)" type="submit">Buscar</button>
      </div>
    </div>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

      <thead>
        <tr>
          <th class="col-sm-1">ID</th>
          <th class="col-sm-2">Nome</th>
          <th class="col-sm-2">Tipo</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos.products | filter:name">
          <td>{{ produto.id }}</td>
          <td>{{ produto.name }}</td>
          <td>{{ produto.type }}</td>
        </tr>

      </tbody>
    </table>
  </div>
